header nav {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border: 2px solid #fefbff;
  border-radius: 50px;
  color: #fefbff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
header nav div {
  display: flex;
  align-items: center;
  gap: 15px;
}
header nav ul {
  display: flex;
  gap: 40px;
}
header nav ul a {
  color: #fefbff;
  font-size: 1.2em;
  font-weight: bold;
}
header nav ul a:active, header nav ul a:hover {
  text-decoration: underline;
}

/*
.sticky{
  transition: all 0.5s ease-in-out;
  width: 80%;
  position: fixed;
  top: 3%;
  left: 50%;
  border-radius: 50px;
  opacity: 100%;
  opacity: 0%;
}
*/
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: #151515;
  animation: gradient 25s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wave {
  background: rgba(122, 28, 172, 0.2509803922);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
}
footer {
  width: 100%;
  display: flex;
}

#fleche_div {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 15px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fleche {
  width: 30px;
  height: auto;
  transform: rotate(-180deg);
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fefbff;
}

li {
  list-style: none;
}

header nav {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border: 2px solid #fefbff;
  border-radius: 50px;
  color: #fefbff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
header nav div {
  display: flex;
  align-items: center;
  gap: 15px;
}
header nav ul {
  display: flex;
  gap: 40px;
}
header nav ul a {
  color: #fefbff;
  font-size: 1.2em;
  font-weight: bold;
}
header nav ul a:active, header nav ul a:hover {
  text-decoration: underline;
}

/*
.sticky{
  transition: all 0.5s ease-in-out;
  width: 80%;
  position: fixed;
  top: 3%;
  left: 50%;
  border-radius: 50px;
  opacity: 100%;
  opacity: 0%;
}
*/
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: #151515;
  animation: gradient 25s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wave {
  background: rgba(122, 28, 172, 0.2509803922);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
}
footer {
  width: 100%;
  display: flex;
}

#fleche_div {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 15px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fleche {
  width: 30px;
  height: auto;
  transform: rotate(-180deg);
  position: absolute;
}

#index header {
  min-height: 100vh;
  background-image: url("/img/heroimage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index header #title_index {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
#index header #title_index h1 {
  font-family: Impact, sans-serif;
  font-weight: normal;
  font-size: 6em;
}
#index header #title_index h3 {
  font-family: "Inria Serif", serif;
  font-size: 4em;
}
#index main {
  min-height: 70vh;
}
#index main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#index main section > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
#index main section > div:first-child p {
  font-family: "Inria Serif", serif;
  width: 70%;
  text-align: justify;
  color: #fefbff;
}
#index main section > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
#index main section > div:last-child > div {
  width: 70%;
  height: 30%;
  padding: 1em 1.5em;
  background: linear-gradient(90deg, #7a1cac, #420b60);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}
#index main section > div:last-child > div > div {
  flex: 1;
}
#index main section > div:last-child > div > div h1 {
  color: #fefbff;
  font-size: 1.2rem;
  margin: 0;
}
#index main section > div:last-child > div > div p {
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  font-size: 0.9rem;
}
#index main section > div:last-child > div h2 {
  color: #fefbff;
  font-size: 1rem;
  margin: 0;
}
#index main section > div:last-child > div:hover {
  background: linear-gradient(90deg, #420b60, #7a1cac);
}
#interview main {
  margin-top: 15vh;
}
#interview main p {
  display: flex;
  justify-self: center;
  width: 60%;
  text-align: justify;
}
#interview .center_f {
  display: flex;
  justify-content: center;
  color: #fefbff;
}
#interview iframe {
  display: flex;
  justify-self: center;
  width: 80%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  border: solid #a90567 2px;
}

/*# sourceMappingURL=style.css.map */
