#end {
  overflow-x: hidden;
  header {
    nav {
      @extend .main-nav;
      position: absolute;
      top: 0;
      left: 50%;
      border: none;
      width: 95%;
    }
  }

  main {
    color: white;
    margin-top: 25vh;
    padding: 0 20px;
    text-align: center;

    h1{
      font-size: 50px;
    }

    p {
      display: flex;
      justify-self: center;
      width: 60%;
      text-align: justify;
      color: $white;
      font-size: 1.05rem;
      line-height: 1.6;
      margin: 20px auto 20px;
    }

    h3{
      font-size: 30px;
    }

    #us{
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      img{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin: 25px auto 25px;
      }
    }

    .p-us{
      width: fit-content;
      margin: auto;
      text-align: center;

      &:last-child{
        text-decoration: underline;
      }
    }
  }
}