#index {
  header {
    min-height: 100vh;
    background-image: url("/img/heroimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    #title_index {
      display: flex;
      flex-direction: column;
      color: white;
      text-align: center;

      h1 {
        font-family: Impact, sans-serif;
        font-weight: normal;
        font-size: 6em;
      }

      h3 {
        font-family: "Inria Serif", serif;
        font-size: 4em;
      }
    }

    nav {
      @extend .main-nav; 
    }
  }

  main {
    margin: 10vh auto;

    section {
      display: grid;
      grid-template-columns: 1fr 1fr;

      > div {
        &:first-child {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2em;

          p {
            font-family: "Inria Serif", serif;
            width: 70%;
            text-align: justify;
            color: $white;
          }
        }

        &:last-child {
          display: flex;
          align-items: center;
          justify-content: center;

          > div {
            width: 70%;
            height: 30%;
            padding: 1em 1.5em;
            background: linear-gradient(90deg, #7a1cac, #420b60);
            border-radius: 20px;

            display: flex;
            align-items: center;
            gap: 1em;

            cursor: pointer;
            transition: all 0.3s ease;

            > div {
              flex: 1;

              h1 {
                color: $white;
                font-size: 1.2rem;
                margin: 0;
              }

              p {
                color: rgba(255, 255, 255, 0.7);
                margin: 0;
                font-size: 0.9rem;
              }
            }

            h2 {
              color: $white;
              font-size: 1rem;
              margin: 0;
            }

            &:hover {
              background: linear-gradient(90deg, #420b60, #7a1cac);
            }
          }
        }
      }
    }
  }
}
