#interview {
  header {
    nav {
      @extend .main-nav;
      position: absolute;
      top: 0;
      left: 50%;
      border: none;
      width: 95%;
    }
  }

  main {
    margin-top: 15vh;

    p {
      display: flex;
      justify-self: center;
      width: 60%;
      text-align: justify;
      color: $white; // Ajouté pour la lisibilité sur fond sombre
    }
  }

  .center_f {
    display: flex;
    justify-content: center;
    color: $white;
  }

  iframe {
    display: flex;
    justify-self: center;
    width: 80%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    border: solid #a90567 2px;
  }
}
