#interview {
  header {
    nav {
      @extend .main-nav;
      position: absolute;
      top: 0;
      left: 50%;
      border: none;
      width: 95%;
    }
  }

  main {
    margin-top: 15vh;

    p {
      display: flex;
      justify-self: center;
      width: 60%;
      text-align: justify;
      color: $white;
    }
  }

  .center_f {
    display: flex;
    justify-content: center;
    color: $white;
    margin-bottom: 20px;
  }

  iframe {
    display: flex;
    justify-self: center;
    width: 80%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    border: solid #a90567 2px;
  }

  .question{
    margin: 2vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .question_box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    background-color: $violet-clair;
    margin: 10px 0px;
    border: solid 1px $white;
    border-radius: 20px;
    padding: 7px;
    & h3{
      color: $white;
      font-size: x-large;
      margin: 10px;
      margin-bottom: 12px;
      justify-self: flex-end;
      align-self: flex-end;
    }
    & img{
      margin: 10px;
    }
    & h2{
      color: $white;
    }
    & p{
      color: $white;
      font-size: small;
    }
    & div{
      display: flex;
      flex-direction: column;
    }
  }
}
