$dark-background-color: #020003;
$white: #FEFBFF;
$violet-Pale: #EBD3F8;
$violet-tres-clair: #AD49E1;
$violet-clair: #7A1CAC;
$violet: #2E073F;
$violet-sombre: #1C0426;


header{
    background-color: $dark-background-color;
}