$dark-background-color: #020003;
$bg-grey: #151515;
$white: #fefbff;
$violet-Pale: #ebd3f8;
$violet-tres-clair: #ad49e1;
$violet-clair: #7a1cac;
$violet: #2e073f;
$violet-sombre: #1c0426;

html {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
  background: $bg-grey;
  animation: gradient 25s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.main-nav {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border: 2px solid $white;
  border-radius: 50px;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  transition: all 0.5s ease-in-out;
  z-index: 1000;

  div {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  ul {
    display: flex;
    gap: 40px;
    margin: 0;
    list-style: none;

    a {
      color: $white;
      text-decoration: none;
      font-size: 1em;
      font-weight: bold;

      &:active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes gradient {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.wave {
  background: $violet-clair 7%;
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 25em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -5;
}

.wave:nth-of-type(2) {
  background: $violet 38%;
  bottom: -2em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  background: $violet-sombre 68%;
  bottom: -4em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }
}

#a-arrow {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 9999; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#fleche_div {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fleche {
  width: 30px;
  height: auto;
  transform: rotate(-180deg);
  position: absolute;
}

.disque{
  position: fixed;
  right: 4vw;
  width: 15vw;
  top: 5vw;
  z-index: -2;
}

.img_disque{
   animation: disque 6s infinite;
   animation-timing-function: linear;
}

@keyframes disque {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


footer{
  display: grid;
  overflow-x: hidden;
  margin: 0 auto;
  grid-template-columns: 33% 66%;
  align-items: center;
  padding: 20px;
  min-height: 20em;
  color: $white;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer div:first-child{
  justify-self: center;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer div:first-child h1{
  width: 100%;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 550;
  font-size: 2.5em;
  letter-spacing: 2px;
}

footer div:first-child ul{
  width: 100%;
}

footer div:last-child{
  justify-self: center;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: xx-large;
}