#social{
  min-height: 100vh;
  color: white;
    header {
    nav {
      @extend .main-nav;
      position: absolute;
      top: 0;
      left: 50%;
      border: none;
      width: 95%;
    }
  }

  main{
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh auto 0;

    h1{
      margin-bottom: 50px;
    }
    
    p{
      text-align: justify;
      width: 100%;
    }

    #content{
      width: 100%;

      p{
        text-align: justify;
        width: 80%;
      }

      img{
        border-radius: 50px;
        overflow: hidden;
      }
    }
  }
}