#social{
  min-height: 100vh;
  color: white;
    header {
    nav {
      @extend .main-nav;
      position: absolute;
      top: 0;
      left: 50%;
      border: none;
      width: 95%;
    }
  }

 main {
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 40px;
      text-align: center;
      width: 100%;

      &.center_f {
        font-size: 3rem;
        margin-bottom: 60px;
      }
    }

    p {
      text-align: justify;
      width: 1080px;
      font-size: 1.1rem;
      line-height: 1.6;
      margin: 15px 0 30px 0;
      color: #e0e0e0;
    }

    section {
      width: 1080px ;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;

      h1{
        text-align: start;
      }
    }

    .content {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
      margin: 20px 0;

      img {
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #808080;
        object-fit: cover;
        flex-shrink: 0;
      }

      p {
        width: auto;
        margin: 0;
        text-align: left;
        font-style: italic;
        font-size: 1.2rem;
        color: #fff;
      }
    }

    .btn-continuer {
        margin-top: 40px;
        color: white;
        text-decoration: underline;
        font-size: 1.2rem;
    }
  }
}
